.about {
    margin-top: 25px;
    text-align: center;
    display: flex;
}

.cardAbout {
    background-color: #c2baa6;
    border-radius: 2px;
    width: 305px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 30px;
}

.cardAbout-body {
    background-color: #68a67d;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 30px;
}

.btnabout {
    background-color: black;

}