.formulario {
    text-align: center;
    margin-top: 25px;
    padding-top: 20px;
    background-color: #68a67d; /* Fondo naranja */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ancho del formulario */
    
}

  .label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
   
  .boton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px; /* Bordes redondeados para el botón */
    background-color: #F18F01; /* Color de fondo verde */
    color: white; /* Color del texto del botón */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-group button:hover {
    background-color: #f3b04c ; /* Cambia el color al pasar el ratón */
  }
  
