/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body{
    background-color: #F5ECD7;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}