.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.35rem;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.1);
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.button-68,
.button-69,
.button-70,
.button-71 {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #ddd;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1px), 0 calc(100% - 1px));
    transition: clip-path 0.3s;
  }

  .navbar-buttons button {
    margin: 0.5rem 0;
  }

  .navbar-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/*
    login
*/
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

/*
    signup
*/
.button-69 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #F18F01;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-69:hover {
  background-color: #eea941;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-69:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-69:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

/*
    log out
*/
.button-70 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #833500;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-70:hover {
  background-color: #834720;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-70:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-70:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


/*
    modificar review
*/

.button-71 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #5f5f5f;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-71:hover {
  background-color: #8d8d8d;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-71:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-71:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}