.text-style {
    width: 1000px;
    display: flex;
}

.text-effect {
    display: inline-block;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
    color: white;
}

.text-effect-hidden {
    opacity: 0;
    transform: translateY(2px);
}

/* .circle-effect {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    transition: transform 300ms;
    background-color: black;
}

.circle-effect-hidden {
    transform: scale(0);
} */