.book-card {
    width: 100%;
    margin: auto;
    border: 1px solid #c2baa6;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #ebe2cd;
  }
  
  .card-body {
    display: flex;
  }
  
  .left-content {
    flex: 1;
  }
  
  .right-content {
    flex: 2;
    padding: 1rem;
  }
  
  .book-image {
    width: 100%;
    height: auto;
    max-width: 200px; /* Ajusta el tamaño máximo según sea necesario */
  }

  .review-input {
    background-color: #5f5f5f; /* Cambia el color de fondo del campo de reseña */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .btn-custom {
    background-color: #68a67d;
    border-color: #68a67d;
  }
  
  .btn-custom:hover {
    background-color: #5c8f66;
    border-color: #5c8f66;
  }
  
  .btn-custom:focus,
  .btn-custom.focus {
    box-shadow: 0 0 0 0.2rem rgba(104, 166, 125, 0.5);
  }
  
  .btn-custom:active,
  .btn-custom.active {
    background-color: #4e7a57;
    border-color: #4e7a57;
  }
  
  
  @media (max-width: 768px) {
    .card-body2 {
      flex-direction: column;
    }
    
    .left-content2, .right-content2 {
      flex: none;
      width: 100%;
    }
  }
  